# 忽略node_modules目录
node_modules

# 忽略构建输出目录
dist
target

# 忽略Tauri特定的临时和构建相关文件
src-tauri/target
src-tauri/.rustup
src-tauri/.cargo

# Vite缓存和构建相关的忽略
.vite
.vscode

# 日志文件（如果有）
*.log

# 操作系统或编辑器特定的临时文件
.DS_Store
Thumbs.db